$popcolor: #C62FDE;
$primarycolor: rgb(86, 90, 92);
$bgcolor: #2f3131;
$shadowcolor: #000000;
$textcolor: #DBDBDB;
$highlightcolor: #b8b3b3;
$grey: #fdf6f696;

$textfont: "Calibri";
$headerfont: "Calibri Light";