@import "variables";

body {
    background-color: $bgcolor;
}
#SideBarDiv{
    color: $textcolor;
    position: absolute;
    height: 100vh;
    left: 0px;
    width: 1em;
    padding-left: 0.5em;
    background-color: $primarycolor;
    box-shadow: 0px 3px 10px 0px $shadowcolor;
    transition: width 0.5s;
    text-overflow: "";
    overflow: hidden;
    white-space: nowrap;
}
#SideBarDiv:hover {
    width: 10vw;
}
.ExCategoryDiv {
    height: fit-content;
    max-height: 2em;
    overflow: hidden;
}
.ExCategoryDiv:hover {
    animation: expand 0.5s linear 0s forwards;
}

.LinkDiv p {
    margin: 0em;
    font-family: $textfont;
}
.LinkDiv {
    margin-left: 0px;
    margin-top: 0em;
}

.ExCategoryHeaderDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ExCategoryHeader {
    font-family: $headerfont;
    font-size: $headerfontsize;
    width: 100%;
    margin: 0em;
}

.NewButton {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border-width: 0.1em;
    background-color: $primarycolor;
    border-color: $textcolor;
    color: $textcolor;
    border: solid;
    margin-left: 1em;
    position: relative;
    margin-right: 0.5em;
}
.NewButton svg {
    margin: 0em;
    padding: 0em;
    position: absolute;
    top: -3px;
    left: -4px;
}

@keyframes colapse {
    100% {
        max-height: 2em;
    }
}

@keyframes expand {
    100% {
        max-height: 20em;
    }
}