@import "variables";

.ExDataTable{
    color: $textcolor;
    font-family: $textfont;
    border-collapse: collapse;
    text-align: center;
    .tableData, .tableHeader {
        width: 5em;
        padding: 0.5em;
    }
    .tableHeader {
        border-bottom: solid $textcolor;
    }
    .tableData:not(.tableData:nth-child(0)) {
        border-right: solid $textcolor;
    }
    .tableHeader:last-child {
        border-right: none;
    }
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    -webkit-appearance: none;
} 
.NewRowInput {
    width: 80%;
    text-align: center;
}

.acceptButtonData {
    display: inline
}

.NewRowInputDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NewRowInput {
    border-radius: 0.3em;
    background: $highlightcolor;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
    height: 2em;
    margin-left: 0.2em;
    border: none;
}

.NewRowAddWeightButton {
    width: 1em;
    height: 1.3em;
    background: none;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    border: none;
    background-color: $highlightcolor;
    padding: 0em;
    position: relative;
    svg {
        position: relative;
        top: -3px;
        left: -5px;
    }
}
