<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="faco.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
        <script type="module" src="faco.js"></script>
    </head>
    <body>
        <div id="LoginDiv">
            <input type="text" id="username" autocomplete="off">
            <button id="LogInButton">Login</button>
        </div>
        <div id="mainpage">
            <div id="ExerciseDiv"></div>
            <div id="maindiv">
                <h1 id="WelcomeMessage"></h1>
                <div id="ChartDiv">
                    <canvas id="DataChart"></canvas>
                </div>
                <table id="ExerciseTable"></table>
                <div id="Timer"></div>
            </div>
        </div>
    </body>
</html>
