<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="faco.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
        <script type="module" src="faco.js"></script>
    </head>
    <body>
        <div id="LoginDiv">
            <input type="text" id="username" autocomplete="off">
            <button id="LogInButton">Login</button>
        </div>
        <div id="mainpage">
            <div id="ExerciseDiv"></div>
            <div id="WelcomeDiv">
                <h1 id="WelcomeMessage"></h1>
            </div>
            <div id="mainDiv">
                <div id="ChartDiv">
                    <canvas id="DataChart"></canvas>
                </div>
                <div id="LowDiv">
                    <div id="TableDiv">
                        <table id="ExerciseTable"></table>
                    </div>
                    <div id="TimerDiv">
                        <svg id="TimerSvg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                            <g id="TimerCircle">
                                <circle id="TimerPath" cx="50" cy="50" r="45"></circle>
                            </g>
                        </svg>
                        <span id="TimerTime"></span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
