<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheets/faco.css">
        <link rel="stylesheet" href="stylesheets/timer.css">
        <link rel="stylesheet" href="stylesheets/login.css">
        <link rel="stylesheet" href="stylesheets/sideBar.css">
        <link rel="stylesheet" href="stylesheets/table.css">
        <link rel="stylesheet" href="stylesheets/popup.css">
        <link rel="stylesheet" href="stylesheets/chart.css">
        <script src="https://jhaquen.github.io/FacoGraph/public/javascripts/plot.js"></script>
        <script type="module" src="javascripts/faco.js"></script>
    </head>
    <body>
        <div id="LoginDiv">
            <input type="text" id="username" autocomplete="off">
            <button id="LogInButton">Login</button>
        </div>
        <div id="mainpage">
            <div id="mainDiv">
                <div id="ChartDiv"></div>
                <div id="lowerDiv"></div>  
            </div>
        </div>
    </body>
</html>
